[submodule "lib"]
	path = lib
	url = git@github.com:jmoeller/hshlib.git
[submodule "Twig"]
	path = Twig
	url = git://github.com/fabpot/Twig.git
[submodule "paris"]
	path = paris
	url = https://github.com/j4mie/paris.git
[submodule "idiorm"]
	path = idiorm
	url = https://github.com/j4mie/idiorm.git
