RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.dev.dikulan.dk$
RewriteRule ^(.*)$ "http\:\/\/dev.dikulan\.dk/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^www.dikulan.dk$
RewriteRule ^(.*)$ "http\:\/\/dikulan\.dk/$1" [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ bootstrap.php [QSA,L]
